.usernotice{
    .top{
        position: fixed;
        top:0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        padding: 0 10px;
        box-sizing: border-box;
        z-index: 999;
        background-color: #F5F5F9;
        .back{
            width: 26px;
            height: 20px;
            margin: 0 8px;
        }
        .center{
            display: flex;
            align-items: center;
            .center-img{
                width: 26px;
            }
            .center-name{
                color: #62AB00;
                font-size: 22px;
                font-weight: bold;
                margin-left: 8px;
            }
        }
        .mine{
            width: 24px;
            height: 26px;
        }
    }
}
*{font-size: 16px;}
ul,ol{
    margin: 0;
    padding: 0;
    p{
        line-height: 20px;
        font-size: 16px;
    }
}