.city{
    height: 100%;
    .left{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        overflow: auto;
    }
    .right{
        position: fixed;
        top:0;
        right: 0;
        z-index: 9999;
    }
}